# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.

# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.
title: Nikolay Rodionov
# email: your-email@example.com
subtitle: "iOS Developer"
title_separator: "|"
description: >- # this means to ignore newlines until "baseurl:"
  Software Engineer. Mostly working with Apple ecosystem.
  Writing about iOS Development and software development in general.
  Swift, Objective-C and C++ are my daily friends. But I also use JavaScript and Python.

baseurl: "" # the subpath of your site, e.g. /blog
url: "https://nikrodionov.com" # the base hostname & protocol for your site, e.g. http://example.com
twitter_username: n_rodionov
github_username:  qaze
read_time: true

# Reading Files
include:
  - .htaccess
  - _pages
exclude:
  - "*.sublime-project"
  - "*.sublime-workspace"
  - vendor
  - .asset-cache
  - .bundle
  - .jekyll-assets-cache
  - .sass-cache
  - assets/js/plugins
  - assets/js/_main.js
  - assets/js/vendor
  - Capfile
  - CHANGELOG
  - config
  - Gemfile
  - Gruntfile.js
  - gulpfile.js
  - LICENSE
  - log
  - node_modules
  - package.json
  - Rakefile
  - README
  - tmp
  - /docs # ignore Minimal Mistakes /docs
  - /test # ignore Minimal Mistakes /test
keep_files:
  - .git
  - .svn
encoding: "utf-8"
markdown_ext: "markdown,mkdown,mkdn,mkd,md"

# Conversion
markdown: kramdown
highlighter: rouge
lsi: false
excerpt_separator: "\n\n"
incremental: false


# Markdown Processing
kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  enable_coderay: false


# Sass/SCSS
sass:
  sass_dir: _sass
  style: compressed # https://sass-lang.com/documentation/file.SASS_REFERENCE.html#output_style


# Outputting
# permalink: /:categories/:title/
paginate: 5 # amount of posts to show
paginate_path: /page:num/
timezone: # https://en.wikipedia.org/wiki/List_of_tz_database_time_zones


# mimic GitHub Pages with --safe
whitelist:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jekyll-include-cache

category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/

compress_html:
  clippings: all
  ignore:
    envs: development

minimal_mistakes_skin: "default"

# Build settings
markdown: kramdown
# theme: minimal-mistakes-jekyll
plugins:
  - jekyll-feed
  - jekyll-sitemap
  - jekyll-target-blank
  - jekyll-seo-tag
  - jekyll-paginate
  - jekyll-gist
  - jekyll-include-cache
  - amp-jekyll

ampdir: "amp"

defaults:
# _posts
- scope:
    path: ""
    type: posts
  values:
    layout: single
    read_time: true
    comments: true
    share: true
    related: true
    author_profile: true
#pages
- scope:
    path: ""
    type: pages
  values:
    layout: single
    author_profile: true

comments:
  provider: "disqus"
  disqus:
    shortname: "nikrodionov"

author:
  avatar: "/assets/bio.jpeg"
  stackoverflow: 2020920
  linkedin: nrodionov
  github: qaze
  twitter: n_rodionov
  typeform: yGXVg8


google_site_verification: "zCyM_sC56tj_Yk7dWjXpsJ-xXr2uYBaMM4G2UJzWAoE"
yandex_site_verification: "0e61d2c23f27ada9"
bing_site_verification: "4B30F8C184B4B6556C5B2BB0F0B87622"

analytics:
  provider: "google-gtag"
  google:
    tracking_id: "UA-128887723-3"
    anonymize_ip: false # default

paginate: 10 # amount of posts to show
paginate_path: /page:num/
